{% extends 'base.html' %}

{% block add_style %}
<link href="{{url_for('static', filename='reg.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}} alert alert-primary align-items-center" role="alert">{{msg}}</div>
{% endfor %}


<body class="text-center">

<main class="form-signin">
    <form action="{{url_for('login')}}" method="post">
        <h1 class="h3 mb-3 fw-normal">Авторизация</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="email" name="email">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="psw">
            <label for="floatingPassword">Password</label>
        </div>


        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        <br>
        <br>
        <div class="checkbox mb-3">
            <label>
                <a href="{{url_for('reg')}}">Не зарегистрированы?</a>
            </label>
        </div>
    </form>
</main>


{% endblock %}

