{% extends 'base.html' %}

{% block add_style %}

{% endblock %}

{% block content %}
{{ super() }}


<body class="bg-light">
<div class="container">
    <main>


        <div class="py-5 text-center">
            <h2></h2>
        </div>

        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}} alert alert-primary align-items-center" role="alert">{{msg}}</div>
        {% endfor %}

        <div class="row g-5">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4 class="mb-3"></h4>
                <form class="needs-validation" action="{{url_for('task_edit', id=id)}}" method="post" novalidate>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-6 p-2">
                            <textarea class="form-control form-control-lg" rows="1" cols="45"
                                      id="description" name="description"
                                      placeholder="Описание"
                                      required>{{description}}</textarea>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-lg-6 p-2">
                            <input autofocus type="number" class="form-control form-control-lg" id="amount"
                                   name="amount"
                                   placeholder="Длительность" value="{{amount}}"
                                   required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6 p-2">
                            <input type="date" class="form-control form-control-lg" id="date" name="date"
                                   placeholder="Дата"
                                   value="{{date}}"
                                   required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6 p-2">
                            <input type="text" class="form-control form-control-lg" id="who" name="user_name"
                                   placeholder="Имя"
                                   value="{{user_name}}"
                                   required>
                            <div class="invalid-feedback">
                                Valid last name is required.

                            </div>
                        </div>


                    </div>
                    <div class="my-4"></div>

                    <button class="w-100 btn btn-primary btn-lg p-2" type="submit">Изменить</button>

                </form>
                <br>
                <a class="btn btn-danger w-100 btn btn-primary btn-lg" href="{{url_for('task_delete', id=id)}}"
                   role="button">Удалить запись</a>
            </div>
        </div>
    </main>


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1"></p>
        <ul class="list-inline">

        </ul>
    </footer>
</div>

{% endblock %}