{% extends 'base.html' %}
{% block add_style %}

{% endblock %}

{% block content %}
{{ super() }}


<main>
    <br>
    <!--    {% for cat, msg in get_flashed_messages(True) %}-->
    <!--    <div class="flash {{cat}} alert alert-primary align-items-center" role="alert">{{msg}}</div>-->
    <!--    {% endfor %}-->

    <div class="py-5 center">
        <h2>
            <div class="row p-2">
                <div>
                    Профайл. {{user_name}}
                    <br>
                    <span class='h3'>{{points}}</span> <span class='h5'>пнт</span>
                </div>
            </div>
        </h2>
    </div>

    {% if current_role == "administrator" %}

    <div class="row g-5">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
        <h4 class="mb-3"></h4>
        <form class="needs-validation" action="{{url_for('profile')}}" method="post" novalidate>
            <div class="row">
                <div class="col-xs-12  col-sm-12 col-lg-12 p-2">

                    <!-- Role selection -->

                    <select id="roles" name="roles" class="form-select" aria-label="Доступ пользователя">
                        {% for role in roles %}
                            {% if role == current_role %}
                                {% set is_selected = 'selected' %}
                            {% else %}
                                {% set is_selected = '' %}
                            {% endif %}
                            <option {{is_selected}} value="{{role}}">{{role}}</option>
                        {% endfor %}
                    </select>
                    <small class="form-text text-muted">Доступ пользователя</small>
                    <br>

                    <!-- Initial sum -->
                    <input autofocus type="number" class="form-control form-control-lg" id="initial_sum"
                           name="initial_sum"
                           placeholder="Баланс на начало периода, взятый из прошлой системы учета"
                           value="{{initial_sum}}"
                           required>
                    <small class="form-text text-muted">Баланс на начало периода, взятый из прошлой системы учета</small>
                    <br>

                    <!-- Initial file path -->
                    <input autofocus class="form-control form-control-lg" id="initial_file_path"
                           name="initial_file_path"
                           placeholder="Initial Excel file with old transactions" value="{{initial_file_path}}"
                           required>
                    <small class="form-text text-muted">Путь до файла excel по учету финансов с архивными проводками</small>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                    <br>

                    <!-- Yandex token -->
                    <input autofocus class="form-control form-control-lg" id="yandex_disk_token"
                           name="yandex_disk_token"
                           placeholder="Yandex token (токен от Яндекс.Диска)" value="{{yandex_disk_token}}"
                           required>
                    <small class="form-text text-muted">Yandex token (токен от Яндекс.Диска)</small>
                    <div class="invalid-feedback">
                        Введите токен яндекс.диска чтобы им пользоваться
                    </div>
                    <br>

                    <!-- WB api token -->
                    <input autofocus class="form-control form-control-lg" id="wb_api_token"
                           name="wb_api_token"
                           placeholder="API KEY WB (токен ключ от WB)" value="{{wb_api_token}}"
                           required>
                    <small class="form-text text-muted">API ключ WB (токен ключ от WB)</small>
                    <div class="invalid-feedback">
                        Введите api ключ от wildberries, чтобы использовать его статистику
                    </div>
                    <br>

                    <!-- WB api token2 -->
                    <input autofocus class="form-control form-control-lg" id="wb_api_token2"
                           name="wb_api_token2"
                           placeholder="API KEY WB (токен ключ от WB)" value="{{wb_api_token2}}"
                           required>
                    <small class="form-text text-muted">API ключ WB (токен ключ от WB) — новый токен</small>
                    <div class="invalid-feedback">
                        Введите api ключ от wildberries, чтобы использовать его статистику
                    </div>
                    <br>

                    <!-- ozon_client_id -->
                    <input autofocus class="form-control form-control-lg" id="ozon_client_id"
                           name="ozon_client_id"
                           placeholder="ozon_client_id" value="{{ozon_client_id}}"
                           required>
                    <small class="form-text text-muted">ozon_client_id</small>
                    <div class="invalid-feedback">
                        Введите ozon_client_id
                    </div>
                    <br>

                    <!-- OZON api token -->
                    <input autofocus class="form-control form-control-lg" id="ozon_api_token"
                           name="ozon_api_token"
                           placeholder="API KEY OZON (токен ключ от OZON)" value="{{ozon_api_token}}"
                           required>
                    <small class="form-text text-muted">OZON api token</small>
                    <div class="invalid-feedback">
                        Введите api ключ от OZON
                    </div>
                    <div class="my-4"></div>

                    <!-- Submit button -->
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Изменить</button>
                </div>
            </div>
        </form>
    </div>
</div>

    {% endif %}

</main>


<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1"></p>
    <ul class="list-inline">

    </ul>
</footer>


{% endblock %}

