{% extends 'base.html' %}
{% block add_style %}

{% endblock %}

{% block content %}
{{ super() }}


<main>


    <br>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}} alert alert-primary align-items-center" role="alert">{{msg}}</div>
    {% endfor %}


    <div class="row g-5">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4 class="mb-3"></h4>
            <form class="needs-validation" action="{{url_for('tasks')}}" method="post" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12 p-2">
                            <textarea autofocus class="form-control form-control-lg" rows="2" cols="45"
                                      id="description" name="description"
                                      placeholder="Описание"
                                      required></textarea>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-12 col-lg-6 p-2">
                        <input autofocus type="number" class="form-control form-control-lg" id="amount"
                               name="amount"
                               placeholder="Длительность" value=""
                               required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-6 p-2">
                        <input type="date" class="form-control form-control-lg" id="date" name="date"
                               placeholder="Дата"
                               value="" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                    <!--                    <div class="col-xs-12 col-sm-12 col-lg-6 p-2">-->
                    <!--                        <input type="text" class="form-control form-control-lg" id="who" name="user_name"-->
                    <!--                               placeholder="Имя"-->
                    <!--                               value="{{user_name}}" required>-->
                    <!--                        <div class="invalid-feedback">-->
                    <!--                            Valid last name is required.-->

                    <!--                        </div>-->
                    <!--                    </div>-->


                </div>
                <div class="my-4"></div>

                <div class="text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input class="form-check-input" type="checkbox" name="is_create_yandex_disk_catalog"
                           id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Создать каталог с задачей на яндекс.диске
                    </label>
                    <div class="my-4"></div>
                </div>

                <button class="w-100 btn btn-primary btn-lg" type="submit">Добавить</button>

            </form>

            <br>
            <form action="{{url_for('task_search')}}" method="post" novalidate>
                <div class="input-group">
                    <input type="search" class="form-control rounded" name="search" placeholder="Поиск"
                           aria-label="Найти"
                           aria-describedby="search-addon"/>
                    <button type="submit" class="btn btn-outline-primary">Поиск по описанию</button>
                </div>
            </form>

            <br>

            <div class="row p-3 text-left">
                <div class="col">
                    <b>Дата</b>
                </div>
                <div class="col">
                    <b>Время</b>
                </div>
                <div class="col-6">
                    <b>Описание</b>
                </div>
            </div>

            {% for p in tasks %}
            <div hx-target="this" hx-swap="outerHTML" class="row-striped row text-left">
                <a href="{{url_for('task_edit', id=p.id)}}">
                    <div class="d_hover row p-3">
                        <div class="col small">
                            {{p.date}}
                        </div>
                        <div class="col">
                            {{p.amount}}
                        </div>
                        <div class="col-6 small">
                            {{p.description}}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</main>


<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1"></p>
    <ul class="list-inline">

    </ul>
</footer>


{% endblock %}