{% extends 'base.html' %}
{% block add_style %}

{% endblock %}

{% block content %}
{{ super() }}


<main>


    <br>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}} alert alert-primary align-items-center" role="alert">{{msg}}</div>
    {% endfor %}


    <div class="row g-5">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4 class="mb-3"></h4>
            <form class="needs-validation" enctype=multipart/form-data action="{{url_for('tasks')}}" method="post"
                  novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12 p-2">
                            <textarea autofocus class="form-control form-control-lg" rows="2" cols="45"
                                      id="description" name="description"
                                      placeholder="Описание"
                                      required></textarea>
                        <div class="invalid-feedback">
                            Что-то не так с описанием
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-12 col-lg-6 p-2">
                        <input autofocus type="number" class="form-control form-control-lg" id="amount"
                               name="amount"
                               placeholder="Длительность" value=""
                               required>
                        <div class="invalid-feedback">
                            Что-то не так с длительностью
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-6 p-2">
                        <input type="date" class="form-control form-control-lg" id="date" name="date"
                               placeholder="Дата"
                               value="" required>
                        <div class="invalid-feedback">
                            Что-то не так с датой
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-lg-6 p-2">
                        <input multiple type="file" class="form-control form-control-lg" id="files" name="files"
                               placeholder="Приклепляемые материалы по задаче"
                               value="">
                        <div class="invalid-feedback">
                            Что-то не так с прикрепленными файлами
                        </div>
                    </div>

                </div>
                <div class="my-4"></div>

                <div class="text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input class="form-check-input" type="checkbox" name="is_create_task_yandex_disk"
                           id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Создать каталог с задачей на яндекс.диске
                    </label>
                    <div class="my-4"></div>
                </div>

                <button class="w-100 btn btn-primary btn-lg" type="submit">Добавить</button>

            </form>

            <br>
            <form novalidate>
                <div class="input-group">
                    <input type="search" class="form-control rounded" name="search" placeholder="Поиск"
                           aria-label="Найти"
                           aria-describedby="search-addon"/>
                    <button hx-post="{{url_for('tasks_search')}}" hx-target="#tasks_div" type="submit"
                            class="btn btn-outline-primary">
                        Поиск по описанию
                    </button>
                </div>
            </form>
            <br>
            <form action="{{url_for('show_task_by_condition')}}" method="post" novalidate>
                <div class="input-group">
                    <select class="form-control rounded" id="task_type_condition" name="task_type_condition">
                        <option>progress</option>
                        <option>completed</option>
                    </select>
                    <button type="submit" class="btn btn-outline-primary">Показать</button>
                </div>
            </form>

            <br>


            <div id="tasks_div" hx-swap="outerHTML">

                <script>
                    $(document).ready(function() {
                      var $checks = $("input[type='checkbox']").change(function() {
                        var checked = $checks.is(':checked');
<!--                        $(".table-header").toggle(!checked);-->
                        $(".edit").toggle(checked);
                      });
                      $checks.first().change();
                    });

                    window.addEventListener('scroll', function() {
                      document.getElementById('showScroll').innerHTML = window.pageYOffset + 'px';
                    })







                </script>
                <form action="{{url_for('tasks_take')}}" method="post" id="checked-contacts">

                    <div style="z-index:100 position-absolute w-100 row" class="fixed-bottom">
                        <button class="edit w-100 btn btn-success bg-opacity-50 btn-lg"
                                formaction="{{url_for('tasks_take_and_complete')}}" type="submit">Взять и завершить
                            задачу
                        </button>
                        <button class="edit w-100 btn btn-warning bg-opacity-50 btn-lg" type="submit">Взять задачу
                        </button>
                        <!--                        <button class="w-40 btn btn-primary btn-sm p-2" type="submit">Выполнить</button>-->
                    </div>


                    <div class="table-header row p-1 text-left">
                        <div class="col-1">
                            <b>#</b>
                        </div>
                        <div class="col">
                            <b>Дата</b>
                        </div>
                        <div class="col-2">
                            <b>Пнт</b>
                        </div>
                        <div class="col-6">
                            <b>Описание</b>
                        </div>
                    </div>


                    {% for p in tasks %}

                    {% if p.condition == 'completed' %}
                    {% set bg = 'bg-success bg-opacity-25' %}
                    {% elif p.condition == 'progress' %}
                    {% set bg = 'bg-warning bg-opacity-25' %}
                    {% endif %}

                    <div class="row-striped row text-left {{bg}}">
                        <a href="{{url_for('task_edit', id=p.id)}}">
                            <div class="d_hover row p-3">
                                <div class="col-1 form-check">
                                    <input class="form-check-input big-checkbox" type="checkbox" value="{{p.id}}" name="check"
                                           id="{{p.id}}">
                                    <label class="form-check-label" for="{{p.id}}">
                                    </label>
                                </div>
                                <div class="col small">
                                    {{p.date}}
                                </div>
                                <div class="col-2">
                                    {{p.amount}}
                                </div>
                                <div class="col-6 small">
                                    {% if p.yandex_link %}
                                    {{p.description}}. Есть приложения. &#9660;
                                    {% else %}
                                    {{p.description}}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>

                    {% endfor %}

                </form>
            </div>

        </div>
    </div>
</main>


<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1"></p>
    <ul class="list-inline">

    </ul>
</footer>


{% endblock %}