{% extends 'base.html' %}

{% block add_style %}

{% endblock %}

{% block content %}
{{ super() }}


<body class="bg-light">
<div class="container">
    <main>


        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}} alert alert-primary align-items-center" role="alert">{{msg}}</div>
        {% endfor %}

        <div class="row g-5">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4 class="mb-3"></h4>
                <form class="needs-validation" method="post" enctype=multipart/form-data novalidate>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12 p-2">
                            <textarea class="form-control form-control-lg" rows="4" cols="45"
                                      id="description" name="description"
                                      placeholder="Описание"
                                      required>{{transaction.description}}</textarea>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-lg-12 p-2">
                            <input autofocus type="number" class="form-control form-control-lg" id="amount"
                                   name="amount"
                                   placeholder="Сумма" value="{{transaction.amount}}"
                                   required>
                            <div class="invalid-feedback">
                                Сумма обязательна
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6 p-2">
                            <input type="date" class="form-control form-control-lg" id="date" name="date"
                                   placeholder="Дата"
                                   value="{{transaction.date}}"
                                   required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6 p-2">
                            <input type="text" class="form-control form-control-lg" id="who" name="user_name"
                                   placeholder="Имя"
                                   value="{{transaction.user_name}}"
                                   required>
                            <div class="invalid-feedback">
                                Valid last name is required.

                            </div>
                        </div>
                        <input multiple type="file" class="form-control form-control-lg" id="files" name="files"
                               placeholder="Файлы, если есть (чеки, описи, доки)"
                               value="">
                        <div class="invalid-feedback">
                            Что-то не так с прикрепленными файлами
                        </div>
                        {% if transaction_yandex_disk_link %}
                        <div class="col-xs-12 col-sm-12 col-lg-12 p-2">
                            <a href="#"
                               data-hx-post="{{url_for('show_yandex_transaction_files', transaction_id=transaction.id)}}"
                               hx-target="#transactions_show">&#9660; Есть приложения.
                                Показать</a>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-12 p-2">
                            <a href="{{transaction_yandex_disk_link}}" download="*.zip">&#9660; Скачать</a>
                        </div>
                        <div id="transactions_show" hx-swap="outerHTML"></div>
                        {% endif %}


                    </div>
                    <div class="my-4"></div>

                    <button class="w-100 btn btn-primary btn-lg p-2"
                            formaction="{{url_for('transaction_edit', id=transaction.id)}}"
                            type="submit">Изменить
                    </button>
                    <br><br>
                    <button class="w-100 btn btn-warning btn-lg p-2" formaction="{{url_for('transaction_copy')}}"
                            type="submit">Копировать
                    </button>

                </form>
                <br>
                <a class="btn btn-danger w-100 btn btn-primary btn-lg"
                   href="{{url_for('transaction_delete', id=transaction.id)}}"
                   role="button">Удалить запись</a>
            </div>
        </div>
    </main>


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1"></p>
        <ul class="list-inline">

        </ul>
    </footer>
</div>

{% endblock %}