<div id="transactions_div" hx-swap="outerHTML">
    <div class="row p-2 text-left">
        <div class="col">
            <b><a href="#" data-hx-post="{{url_for('transactions_by', field_type='date', sort_type=sort_type)}}"
                  hx-target="#transactions_div">Дата {{sort_sign | safe}}</a></b>
        </div>
        <div class="col">
            <b><a href="#" data-hx-post="{{url_for('transactions_by', field_type='amount', sort_type=sort_type)}}"
                  hx-target="#transactions_div">Сумма {{sort_sign | safe}}</a></b>
        </div>
        <div class="col-6">
            <b><a href="#" data-hx-post="{{url_for('transactions_by', field_type='description', sort_type=sort_type)}}"
                  hx-target="#transactions_div">Описание {{sort_sign | safe}}</a></b>
        </div>
    </div>


    {% for p in transactions %}
    <div class="row-striped row">
        <a href={{url_for('transaction_edit', id=p.id)}}>
            <div class="d_hover row p-3">
                <div class="col small">
                    {{p.date}}
                </div>
                <div class="col">
                    {{p.amount}}
                </div>
                <div class="col-6 small">
                    {{p.description}}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>