{% extends 'base.html' %}
{% block add_style %}

{% endblock %}

{% block content %}
{{ super() }}


<main>
    <br>
    <div class="row text-left">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <form method="post">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <label for="date_from">Start Date:</label>
                            <input type="datetime-local" id="date_from" name="date_from" class="form-control form-control-lg">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <label for="date_to">End Date:</label>
                            <input type="datetime-local" id="date_to" name="date_to" class="form-control form-control-lg">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input formaction="{{ url_for('get_transaction_list_ozon') }}"
                                   class="w-100 btn btn-primary btn-lg" type="submit"
                                   value="Транзакции OZON">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock %}