{% extends 'base.html' %}
{% block add_style %}

{% endblock %}

{% block content %}
{{ super() }}

<main>
    <br>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}} alert alert-primary align-items-center" role="alert">{{msg}}</div>
    {% endfor %}


    <div class="row text-left">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <form method="post" enctype=multipart/form-data action="{{url_for('get_wb_pivot_sells_api')}}">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input formaction="{{url_for('get_info_wb')}}"
                                   class="w-100 btn btn-primary btn-lg" type="submit"
                                   value="Все карточки на WB">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input formaction="{{url_for('get_stock_wb')}}"
                                   class="w-100 btn btn-primary btn-lg" type="submit"
                                   value="Все остатки на WB">
                        </div>
                        <!--                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">-->
                        <!--                            <input formaction="{{url_for('revenue_processing')}}"-->
                        <!--                                   class="w-100 btn btn-primary btn-lg" type="submit"-->
                        <!--                                   value="Сводный отчет о динамике прибыльности">-->
                        <!--                        </div>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock %}