{% extends 'base.html' %}
{% block add_style %}

{% endblock %}

{% block content %}
{{ super() }}

<main>
    <br>


    <div class="g-5 text-left">
        <div class="row p-2 bg-light">
            <div>{{doc_string}}
            </div>
        </div>
    </div>

    <div class="row text-left">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <form method="post" target="blank" enctype=multipart/form-data action="{{url_for('parser_rating_wb')}}">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input class="form-control form-control-lg" placeholder="Копипаста" type="text"
                                   name="text_input">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-12 p-2">
                            <input class="form-control form-control-lg" type="file" name="file">
                        </div>
                        <!--                        <div class="col-xs-12 col-sm-12 col-lg-12 p-2 text-center">-->
                        <!--                            <input class="form-check-input" type="checkbox" value="is_pdf" name="is_pdf"-->
                        <!--                                   id="flexCheckChecked" checked>-->
                        <!--                            <label class="form-check-label" for="flexCheckChecked">-->
                        <!--                                Сформировать в виде pdf файла-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <div class="col-xs-12 col-sm-12 col-lg-12 p-2">
                            <input class="w-100 btn btn-primary btn-lg" type="submit" value="Отправить">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock %}