{% extends 'base.html' %}
{% block add_style %}

{% endblock %}

{% block content %}
{{ super() }}


<main>
    <br>
    <div class="row text-left">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <form method="post">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-2">
                            <input type="date" id="date_from" name="date_from" class="form-control form-control-lg"
                                   value="{{ date_from }}">
                            <small class="form-text text-muted">Start Date</small>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-2">
                            <input type="date" id="date_to" name="date_to" class="form-control form-control-lg"
                                   value="{{ date_to }}">
                            <small class="form-text text-muted">End Date</small>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input formaction="{{ url_for('get_transaction_list_ozon') }}"
                                   class="w-100 btn btn-primary btn-lg" type="submit"
                                   value="Транзакции OZON">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input type="checkbox" id="is_merge_cards" name="is_merge_cards" class="form-check-input"
                                   checked>
                            <label for="is_merge_cards" class="form-check-label">Подгрузить карточки ОЗОН</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input type="checkbox" id="is_merge_stock" name="is_merge_stock" class="form-check-input"
                                   checked>
                            <label for="is_merge_stock" class="form-check-label">Подгрузить остатки ОЗОН</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input type="checkbox" id="is_merge_net_cost" name="is_merge_net_cost"
                                   class="form-check-input"
                                   checked>
                            <label for="is_merge_net_cost" class="form-check-label">Подгрузить себестоимость</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input type="checkbox" id="is_merge_wb_report" name="is_merge_wb_report"
                                   class="form-check-input"
                                   checked>
                            <label for="is_merge_wb_report" class="form-check-label">Подгрузить данные из отчета
                                WB</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input type="checkbox" id="is_aggregate_stock" name="is_aggregate_stock"
                                   class="form-check-input"
                                   checked>
                            <label for="is_merge_stock" class="form-check-label">Аггрегировать остатки по
                                артикулу</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input type="checkbox" id="is_merge_price" name="is_merge_price" class="form-check-input"
                                   checked>
                            <label for="is_merge_price" class="form-check-label">Подгрузить цены ОЗОН</label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input type="checkbox" id="group_by_items" name="group_by_items" class="form-check-input"
                                   checked>
                            <label for="group_by_items" class="form-check-label">Сгруппировать в итоговые
                                значения</label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input type="checkbox" id="is_count" name="is_count" class="form-check-input"
                                   checked>
                            <label for="is_count" class="form-check-label">Посчитать кол-во продаж и возвратов</label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input type="checkbox" id="is_update_prices" name="is_update_prices"
                                   class="form-check-input"
                                   checked>
                            <label for="is_update_prices" class="form-check-label">Обновить измененные цены</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input class="form-check-input" type="checkbox" value="is_to_yadisk"
                                   name="is_to_yadisk"
                                   id="is_to_yadisk" checked>
                            <label class="form-check-label" for="is_to_yadisk">
                                Загрузить отчет на Яндекс.Диск
                            </label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input class="form-check-input" type="checkbox" value="testing_mode"
                                   name="testing_mode"
                                   id="testing_mode">
                            <label class="testing_mode" for="testing_mode">
                                Тестовый режим, отчет подгрузится с Яндекс.Диска
                            </label>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock %}