{% extends 'base.html' %}
{% block add_style %}

{% endblock %}

{% block content %}
{{ super() }}

<main>
    <br>
    <div class="row text-left">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <form method="post" enctype="multipart/form-data">
                    <div class="row">


                        <!-- Submit button -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input formaction="{{url_for('get_price_ozon')}}"
                                   class="w-100 btn btn-primary btn-lg" type="submit"
                                   value="Цены на OZON">
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input class="form-check-input" type="checkbox" value="is_to_yadisk"
                                   name="is_to_yadisk"
                                   id="is_to_yadisk" checked>
                            <label class="form-check-label" for="is_to_yadisk">
                                Загрузить отчет на Яндекс.Диск
                            </label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
                            <input class="form-check-input" type="checkbox" value="testing_mode"
                                   name="testing_mode"
                                   id="testing_mode">
                            <label class="testing_mode" for="testing_mode">
                                Тестовый режим, отчет подгрузится с Яндекс.Диска
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock %}